
.display{
  background-color: rgba(245, 245, 245, 1);

}
/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 31px 150px;
}

/* banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 160px;
  max-width: 1280px;
  max-height: 560px;
  background-color: #C6E4D6;
  border-radius: 24px;
}
.banner-content{
  max-width: 622px;
}
.banner-title{
  font-weight: bold;
  font-size: 56px;
}
.banner-profile-pic{
  width:  474px;
  height:  400px;
}
.btn-primary{
  background-color: #006A50;
  font-weight: 600px;
  color: white;
  border-radius: 8px;
  padding: 17px 34px;
  border: none;
}
.btn-primary:hover{
  background-color: red;
}
.about{
  margin: 0px 160px;

}
/* development-container styles */
.development-container{
  display: flex;
  gap: 24px;
}
.development-1{
background-color: rgba(84, 144, 245, 0.2);
border-radius: 16px;
}
.development-2{
  background-color: #C6E4D6;
  border-radius: 16px;

}
.development-3{
  background-color: #F7EBCF;
  border-radius: 16px;

}
.button-1{
  background-color:#5490F5;
  font-weight: 500px;
  color: white;
  border-radius: 8px;
  padding: 11px 20px;
  border: none
}
.button-1:hover{
  background-color: red;
}
.button-2{
  background-color:#09A15C;
  font-weight: 500px;
  color: white;
  border-radius: 8px;
  padding: 11px 20px;
  border:none

}
.button-2:hover{
  background-color: red;
}
.button-3{
  background-color:#FFC239;
  font-weight: 500px;
  color: white;
  border-radius: 8px;
  padding: 11px 20px;
  border: none
}
.button-3:hover{
  background-color: red;
}
/* muhammad yunus styles */
.muhammad-yunus{
  margin: 0px 160px;
  background-color:white;
  border-radius: 16px;
}
.banner-pic{
  
}
.recent{
  margin: 0px 160px;

}
/* news-styles */
.recent-image{
  max-width: 408px;
  border-radius: 24px;
}
.news-conten{
  max-width: 744px;
}
.news{

margin: 0px 160px;
display: flex;
justify-content: space-around;
gap: 40px;
border-radius: 24px;
background-color: white;
}
.news-1{
  margin: 0px 160px;
display: flex;
justify-content: space-around;
gap: 40px;
border-radius: 24px;
background-color: white;

}
.button-4{
  background-color:#006A50;
  font-weight: 500px;
  color: white;
  border-radius: 8px;
  padding: 13px 26px;
  border: none
}
.button-4:hover{
  background-color: red;
}
.donate-section{
  margin: 0px 160px;
  text-align: center;

}
.amount{
  margin: 0px 160px;
  display: flex;
  gap: 10px;

}
.money{
  padding: 20px 20px;
  width: 138px;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;

}



.taka{
  padding: 18px 220px;
  border: none;
  text-align: center;
}
.other-amount{
  margin: 0px 160px;
  text-align: center;
  background-color: white;
  border: none;
}
.sub{
  display: inline;
  margin-left: -5px;
  border: none;
}
.here{
  text-align: center;
  width: 300px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sub:hover{
  background-color: red;
}
.field{
  background-color: #006A62;
color: white;
font-weight: 500px;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
border: none;
}
.field:hover{
  background-color: red;
}
.footre-section{
  margin: 0px 160px;
  text-align: center;
  background-color:rgba(198, 228, 214, 1);
  border: none;
  border-radius: 24px;

}
